@import '../../styles/colors.scss';
@import '../../styles/mediaQueries.scss';
@import '../../styles/transition.scss';

.security{
    display: flex;
    gap: 1.5em;
    padding: 5em 0 0;
    &_left{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        gap: 1.5em;
        padding: 3em 0 0 0;
        h3{
            font-size: 2.375em;
            line-height: 48px;
        }
    }
    &_right{
        display: flex;
        justify-content: center;
        gap: 3em;
        flex-flow: row wrap;
    }
    @include screen-size(desktop-only){
        flex-flow: column nowrap;
        &_left{
            max-width: 300px;
        }
    }
}