@import '../../styles/colors.scss';
@import '../../styles/mediaQueries.scss';
@import '../../styles/transition.scss';

.invest{
    margin: 10em 3em 0 15em;
    display: flex;
    gap: 2em;
    align-items: center;
    &_image{
        width: 100px;
        img{
            width: 100%;
        }
    }
    h4{
        font-size: 28px;
        margin: 0 0 0.3em;
    }
    p{
        font-size: 15.5px;
        line-height: 27.2px;
        margin: 0 0 2em;
    }

    a{
        text-decoration: none;
        color: $secondary;
        font-weight: 500;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: linear-gradient(180deg,transparent 65%,#d0e2fc 0);
            width: 100%;
            transform: scaleX(0);
            height: 20px;
            bottom: 0;
            left: 0;
            transform-origin: bottom left;
            transition: transform 0.4s ease-out;
            z-index: -1;
        }
        &:hover::after{
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
    @include screen-size(desktop-only){
        margin: 8em 3em 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h4{
            font-size: 28px;
            margin: 0 0 0.3em;
        }
        &_image{
            width: 100px;
            img{
                width: 100%;
            }
        }
    }
}