@import '../../styles/colors.scss';
@import '../../styles/mediaQueries.scss';
@import '../../styles/transition.scss';

.Hero{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary;
    font-size: 1.03125em;
    height: 100vh;
    gap: 2.4em;
    @include transition;
    &_left{
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        width: 50%;
        > *{
            @include transition;
        }
        @include screen-size(desktop-only){
            text-align: center;
        }
        h1{
            font-size: 4em;
            line-height: 72px;
            font-weight: 700;
            font-family: U8-Bold;
            visibility: hidden;
            @include animateH1;
        }
        p{
            line-height: 27.2px;
            color: $light-brown;
            @include animate1;
        }
        @include screen-size(desktop-only){
            h1{
                font-size: 3.1em;
            }
        }
    }
    &_right{
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0 0 0 2em;
        width: 50%;
        .image_group{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            width: 70%;
            > *{
                @include transition;
            }
            @include animate1;
            img:nth-child(1){
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
            }
            img:nth-child(2){
                position: absolute;
                top: 35px;
                left: -45px;
                width: 100%;
                @include animate2;
            }
            img:nth-child(3){
                @include animate3;
                visibility: hidden;
                position: absolute;
                top: 140px;
                left: -143px;
                width: 215px;
            }
            img:nth-child(4){
                position: absolute;
                top: 350px;
                right: -64px;
                width: 215px;
                visibility: hidden;
                @include animate4;
            }
            img:nth-child(5){
                position: absolute;
                top: 170px;
                right: 25px;
                width: 100%;
                width: 40px;
                visibility: hidden;
                @include animate5;
            }
            img:nth-child(6){
                position: absolute;
                top: 0;
                left: -81px;
                visibility: hidden;
                @include animate6;
            }
            img:nth-child(7){
                position: absolute;
                top: 352px;
                left: -63px;
                visibility: hidden;
                @include animate7;
            }
            @include screen-size(tablet-only){
                img:nth-child(3){
                    position: absolute;
                    top: 150px;
                    left: -123px;
                    width: 215px;
                }
                img:nth-child(4){
                    position: absolute;
                    top: 300px;
                    right: -64px;
                    width: 215px;
                }
                img:nth-child(5){
                    position: absolute;
                    top: 150px;
                    right: 25px;
                    width: 40px;
                }
                img:nth-child(7){
                    position: absolute;
                    top: 280px;
                    left: -63px;
                }
            }
            @include screen-size(phone-only){
                img:nth-child(2){
                    position: absolute;
                    top: 10px;
                    left: -15px;
                    width: 100%;
                }
                img:nth-child(3){
                    position: absolute;
                    top: 65px;
                    left: -43px;
                    width: 90px;
                }
                img:nth-child(4){
                    position: absolute;
                    top: 135px;
                    right: -44px;
                    width: 90px;
                }
                img:nth-child(5){
                    position: absolute;
                    top: 60px;
                    right: 5px;
                    width: 20px;
                }
                img:nth-child(6){
                    position: absolute;
                    top: 0;
                    left: -24px;
                    width: 20px;
                }
                img:nth-child(7){
                    position: absolute;
                    top: 150px;
                    left: -23px;
                    width: 20px;
                }
            }
            @include screen-size(larger-screen){
                width: 60%;
            }
        }
    }
    @include screen-size(desktop-only){
        display: block;
        padding: 7em 0 0;
        height: 100%;
        &_left{
            width: 100%;
            max-width: 500px;
            margin: 0 auto 5em;
        }
        &_right{
            width: 70%;
            margin: auto;
        }
    }
    @include screen-size(tablet-only){
        &_right{
            width: 85%;
        }
    }
    @include screen-size(phone-only){
        &_right{
            width: 100%;
        }
    }
    @include screen-size(desktop-plus){
        padding: 9em 1em 0;
    }
    @include screen-size(larger-screen){
        padding: 0 13em 0;
    }
}