@mixin transition{
    transition: all 0.3s ease-in-out;
}

@mixin transform($deg, $Y-axis){
    transform: rotate($deg) translateY($Y-axis);
}

@mixin animate1{
    animation: bouncy1 0.4s ease-in-out 0s forwards normal running;
}
@mixin animate2{
    animation: bouncy2 0.5s ease-in 0s forwards normal running;
}
@mixin animate3{
    animation: bouncy1 0.6s 1s forwards;
}
@mixin animate4{
    animation: bouncy1 0.8s ease-in-out 1.2s forwards normal running;
}
@mixin animate5{
    animation: bouncy1 0.8s ease-in-out 1.3s forwards normal running;
}
@mixin animate6{
    animation: bouncy1 0.8s ease-in-out 1.4s forwards normal running;
}
@mixin animate7{
    animation: bouncy1 0.8s ease-in-out 1.5s forwards normal running;
}

@keyframes bouncy1 {
    0%{
        opacity: 0;
        transform: translateY(20px)
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }
}

@keyframes bouncy2 {
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0);
    }
}


@mixin animateH1{
    animation: bouncy3 0.6s 0.3s forwards;
}

@keyframes bouncy3 {
    0%{
        opacity: 0;
        transform: translateY(30px)
    }
    100%{
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }
}

// @keyframes fadeIn{
//     0%{
//         opacity: 0;
//         transform: translate(0, 0);
//         background-color: green;
//     }
//     100%{
//         transition: all 0.3s ease-in-out;
//         opacity: 1;
//         transform: translateY(30px);
//         background-color: red;
//     }
// }