@import '../../styles/colors.scss';
@import '../../styles/mediaQueries.scss';
@import '../../styles/transition.scss';

.featured{
    background: $card;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    gap: 10em;
    &_left{
        font-size: 1.8em;
        font-family: U8-Bold;
    }
    h4{
        text-align: center;
    }
    &_right{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 5em;
        img{
            max-width: 130px;
        }
    }
    @include screen-size(desktop-only){
        flex-direction: column;
    }
}