@import '../../styles/colors.scss';
@import '../../styles/mediaQueries.scss';
@import '../../styles/transition.scss';

.featured{
    background: $card;
    display: flex;
    justify-content: center;
    align-items: center;
    &_left{
        width: 50%;
    }
    h4{
        text-align: center;
    }
    &_right{
        display: flex;
        justify-content: center;
        gap: 5em;
        width: 50%;
        img{
            width: 100%;
        }
    }
    @include screen-size(desktop-only){
        flex-direction: column;
        &_right{
            flex-direction: column;
        }
    }
}