@import '../../styles/colors.scss';
@import '../../styles/mediaQueries.scss';
@import '../../styles/transition.scss';

.card{
    display: flex;
    flex-direction: column;
    background: $card;
    width: 352px;
    gap: 1.5em;
    border-radius: 20px;
    padding: 2em;
    &_img{
        width: 50px;
        img{
            width: 100%;
        }
    }
    .sub{
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
}