@import '../../styles/colors.scss';
@import '../../styles/mediaQueries.scss';
@import '../../styles/transition.scss';

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $card;
    max-width: 340px;
    height: 360px;
    font-size: 1em;
    gap: 1.5em;
    border-radius: 20px;
    padding: 2em;
    h5{
        font-size: 1.1em;
    }
    &_img{
        width: 50px;
        img{
            width: 100%;
        }
    }
    .sub{
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-weight: 500;
    }
    &:hover{
        .sub{
            @include transition;
            transform: translateX(7px);
        }
    }
}
a{
    text-decoration: none;
    color: $light-brown;
}