@import '../../styles/colors.scss';
@import '../../styles/mediaQueries.scss';

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .line{
        width: 28px;
        height: 3px;
        display: flex;
        margin: 6px;
        background-color: $hamburger;
    }
    .is-active{
        .line:nth-child(2){
            width: 0;
        }
    }
}