@import '../../styles/colors.scss';
@import '../../styles/mediaQueries.scss';
@import '../../styles/transition.scss';

.saver{
    display: flex;
    &_left{
        width: 50%;
        background: $secondary;
        padding: 0 11em 0 11em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        &_container{

            p, h2, span {
                color: $white;
            }
            h2{
                font-size: 2.5625em;
                line-height: 54px;
            }
            .sub{
                display: flex;
                align-items: center;
                gap: 0.5em;
                margin-top: 1.5em;
                font-weight: 700;
            }
            a{
                text-decoration: none;
            }
            @include screen-size(desktop-plus){
                padding: 0 8em 0 1em;
            }
        }
    }
    &_right{
        width: 50%;
        height: 400px;
        background-image: url("https://storage.googleapis.com/piggyvestwebsite/piggywebsite2020/PHOTO_2022_08_02_17_33_57_af95edcdcb/PHOTO_2022_08_02_17_33_57_af95edcdcb.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center center;
    }
    @include screen-size(desktop-only){
        flex-flow: column nowrap;
        &_left{
            width: 100%;
            padding: 4em 0em 4em 0em;
            align-items: center;
            text-align: center;
            &_container{
                max-width: 420px;
                .sub{
                    justify-content: center;
                }
            }
        }
        &_right{
            width: 100%;
        }
    }
    @include screen-size(larger-midpoint){
        &_left{
            padding: 0 8em 0 8em;
        }
    }
    @include screen-size(desktop-plus){
        &_left{
            padding: 0 2.5em 0 2.5em;
        }
    }
}