@font-face {  
  font-family: 'U8-Bold';  
  font-weight: 700;  
  font-style: normal;  
  font-display: swap; 
  unicode-range: U+000-5FF; 
  src: local('U8-Bold'),       
  url('/src/assets/font/U8-Bold.woff2') format('woff2')
}

:root {
  font-family: 'DM sans', sans-serif;
  /* font-family: 'DM Sans', sans-serif;
font-family: 'Karla', sans-serif; */
  /* transition: all 0.2s ease-in-out; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  line-height: 27.2px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  color: #0c1825;
  font-family: U8-bold;
}

p{
  color: #353535;
}